#membres img {
  width: 10em;
  height: auto;

  max-width: 100%;
  border-radius: 50%;
  cursor: zoom-in;
}
#membres img.active {
  cursor: zoom-out;
}
.person_card {
  margin: 0.5em;
  text-align: center;
}
.nomFamille {
  font-variant: small-caps;
}

@media only screen and (min-width: 993px) {
   #membres.container {
    width: 85%;
  }
}

/* .flex_center {
  display: flex;
  justify-content: space-evenly;
} */
