body {
  /* background: black; */
  font-family: 'Open Sans';
}

h2, h3 {
  font-family: 'Space Mono';
}

h3 {
  font-size: 2.3rem;
}

#main_page {
  display: flex;
  flex-direction: column;
}
#main_page>header {
  height: 90vh;
  background-image: url("../assets/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  position: relative;/*
  display: flex;
  justify-content: center; */
}
#main_page #logo_png {
  /*transition: all 0.5s ease 0s;*/

  position: fixed;
  top: 20%;
  max-width: 80vw;
  max-height: 50vh;

  transform: translateX(-50%); /*centre horizontal comme la position fixed est cheloue*/
}
#main_page #logo_png.animStep2 {
  position: relative;
  top: 100%;
  transform: translateY(-58%); /*barre se trouve à 58% du logo*/
}
#main_page>#page_content {
  flex-grow: 1;
}

#main_page>#page_content>.empty {
  width: 563px;
  height: 100px;
  max-width: 80vw;
  max-height: 25vh;
}
.person_card {
  margin: 0.5em;
  text-align: center;
}
#membres img {
  width: 10em;
  height: auto;

  max-width: 100%;
  border-radius: 50%;
  cursor: zoom-in;
}
#membres img.active {
  cursor: zoom-out;
}
.nomFamille {
  font-variant: small-caps;
}

@media only screen and (min-width: 993px) {
   #membres.container {
    width: 85%;
  }
}

/* .flex_center {
  display: flex;
  justify-content: space-evenly;
} */
